<div class="container">
  <img src="../assets/pattern-bg-desktop.png" alt="">
  <h1 class="header-text">IP Address Tracker</h1>

  <form [formGroup]="inputForm">
    <input type="text" formControlName="ipAddress" placeholder="Search for any IP address or domain">
  </form>

  <div class="arrow-container">
    <img src="../assets/icon-arrow.svg" alt="" srcset="">
  </div>

  <div class="result">
    <span class="Info">
      <p>IP ADDRESS</p>
    </span>
    <div class="line"></div>
    <span class="Info">
      <p>LOCATION</p>
    </span>
    <div class="line"></div>
    <div class="Info">
      <p>TIMEZONE</p>
    </div>
    <div class="line"></div>
    <div class="Info">
      <p>ISP</p>
    </div>
  </div>

  <app-map></app-map>
</div>